@model DefenceOfTheAncientsRPG.Models.ContentViewModel.ContentItemOverviewViewModel

@{
    ViewData["Title"] = "ItemOverview";
}

<h2>Item Overview</h2>

<div>
    <hr />
    <button class="btn btn-default" onclick="location.href ='@Url.Action("AddItem", "Content")'">Add new item</button>
    <table class="table">
        <tr>
            <td><b>Name</b></td>
            <td><b>Strength</b></td>
            <td><b>Agility</b></td>
            <td><b>Intelligence</b></td>
            <td><b>Health</b></td>
            <td><b>Health regen</b></td>
            <td><b>Attackspeed</b></td>
            <td><b>Armor</b></td>
            <td><b>Mana</b></td>
            <td><b>Mana regen</b></td>
            <td><b>Damage</b></td>
            <td><b>Price</b></td>
        </tr>
        @foreach(Item item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Strength</td>
                <td>@item.Agility</td>
                <td>@item.Intelligence</td>
                <td>@item.Health</td>
                <td>@item.HealthRegen</td>
                <td>@item.Attackspeed</td>
                <td>@item.Armor</td>
                <td>@item.Mana</td>
                <td>@item.ManaRegen</td>
                <td>@item.Damage</td>
                <td>@item.Cost</td>
                <td><button class="btn btn-default" onclick="location.href ='@Url.Action("EditItem", "Content", new { id = item.Id })'">Edit</button></td>
            </tr>

        }
    </table>
</div>
<div>
    <a asp-action="Index">Back to content overview</a>
</div>
